<header>
  <%= image_tag "STATSsmall.png" %>
  <nav class="round">
    <ul>
      <li><% link_to "Add", '#' %></li>
      <li><% link_to "List All", faqs_path %></li>
      <li><a href="http://www.google.com">Google</a></li>
    </ul>
  </nav>
</header>
